body {
  background-color: #FFCE54;
  color: #333;
  font-family: sans-serif;
}

button, a {
  background-color: #FFA500;
  color: white;
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}
